.list {
    &>.card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid var(--sec-color);
        border-radius: 15px;
        padding: 1em;
        margin-bottom: 1em;

        &>.icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;

            img {
                width: 65%;
                height: auto;
            }
        }

        &>.desc {
            width: 70%;
        }

        &.with-controls {
            &>.desc {
                width: 50%;
            }
        }

        &>.control {
            width: 15%;
        }

        &.bottom {
            margin-top: auto;
        }
    }
}

.desc {
    .time {
        font-size: 2em;
        font-weight: 700;
    }

    .title {
        font-size: 1em;
    }

    .remain {
        font-size: .7em;
        margin-top: 5px;
    }
}

.card {
    .control {
        cursor: pointer;
        background: transparent;
        border: none;
    }
}